<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">COM3504</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link <%= title === 'Home' ? 'active' : '' %>" <%= title === 'Home' ? 'aria-current="page"' : '' %>  href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= title === 'History' ? 'active' : '' %>" <%= title === 'History' ? 'aria-current="page"' : '' %> href="/history">History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= title === 'About' ? 'active' : '' %>" <%= title === 'About' ? 'aria-current="page"' : '' %> href="/about">About</a>
        </li>
      </ul>
    </div>
    
    <% if (title === 'Home'){ %>
      <button type="button" class="btn btn-outline-primary">New</button>
    <% } %>
    
  </div>
</nav>