<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
  <script src="/javascripts/jquery-3.6.0.min.js"></script>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <script src="/javascripts/index.js"></script>

  <script src="/javascripts/app.js"></script>

  <title><%= title %></title>
</head>
<body>
    <% include ./header %>

    <div class="w-75 mt-3 container-fluid">
        <form class="d-flex" onsubmit="return false">
            <input id="searchBox" class="form-control me-2" type="search" placeholder="Search Author" aria-label="Search">
            <button id="searchBtn" class="btn btn-primary" type="submit">Search</button>
        </form>
    </div>
		
		<div id="roomsContainer" class="container-fluid w-75 mt-3 d-flex align-items-center justify-content-center flex-wrap masonry">
			<% for(img of imgList) { %>
				<div class="card m-3 item" style="width: 18rem;">
					<img src="/img/raw/<%= img.id %>" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title"><%= img.title %></h5>
						<p class="card-title">Created by <%= img.author %></p>
						<p class="card-text">Description: <%= img.desc %></p>
            <a href="/join/<%= img.id %>" class="btn btn-outline-primary w-100">Join</a>
					</div>
				</div>
			 <% } %>
		</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>